.grid {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.cell {
    position: relative;
    height: 25px;
    width: 25px; 
    border: 1px solid grey;
}

.impassable {
    background-color: black; 
}

.end {
    background-color: red;
}

.player {
    background-color: green;
}

.mountain {
    background-color: rgb(87, 64, 13);
}